In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Extract NYtimes CSVs into DataFrames

In [2]:
csv_file = "../Project_2/NYT_bestsellers_2011_2018.csv"
new_york_times_data = pd.read_csv(csv_file,encoding='ISO-8859-1')
new_york_times_data.head()

,publisher,dagger,book_review_link,author,primary_isbn10,price,primary_isbn13,sunday_review_link,date,first_chapter_link,contributor,title,age_group,weeks_on_list
0,Riverhead,0,https://www.nytimes.com/2015/01/05/books/the-g...,Paula Hawkins,1594634025,0,9.78E+12,https://www.nytimes.com/2015/02/01/books/revie...,2/19/2017,NaN,by Paula Hawkins,THE GIRL ON THE TRAIN,NaN,102
1,Scribner,0,NaN,Anthony Doerr,1501173219,0,9.78E+12,https://www.nytimes.com/2014/05/11/books/revie...,5/7/2017,NaN,by Anthony Doerr,ALL THE LIGHT WE CANNOT SEE,NaN,81
2,Vintage,0,NaN,E L James,525431888,0,9.78E+12,NaN,3/5/2017,NaN,by E. L. James,FIFTY SHADES DARKER,NaN,66
3,St. Martin's,0,NaN,Kristin Hannah,1466850604,0,9.78E+12,NaN,10/29/2017,NaN,by Kristin Hannah,THE NIGHTINGALE,NaN,63
4,Penguin Group,0,https://www.nytimes.com/2009/02/19/books/19mas...,Kathryn Stockett,1440697663,0,9.78E+12,NaN,4/8/2012,NaN,by Kathryn Stockett,THE HELP,NaN,58

### Transform NYtimes DataFrame

In [11]:
new_york_times_dt = new_york_times_data.drop(['dagger', 'book_review_link', "primary_isbn13","sunday_review_link","date","first_chapter_link","contributor","weeks_on_list","price"], axis=1)

In [16]:
final_new_york_df=new_york_times_dt.dropna(subset=["primary_isbn10"], how ="any")
final_new_york_df

,publisher,author,primary_isbn10,title,age_group
0,Riverhead,Paula Hawkins,1594634025,THE GIRL ON THE TRAIN,NaN
1,Scribner,Anthony Doerr,1501173219,ALL THE LIGHT WE CANNOT SEE,NaN
2,Vintage,E L James,525431888,FIFTY SHADES DARKER,NaN
3,St. Martin's,Kristin Hannah,1466850604,THE NIGHTINGALE,NaN
4,Penguin Group,Kathryn Stockett,1440697663,THE HELP,NaN
...,...,...,...,...,...
2244,Tom Doherty,Robert Jordan and Brandon Sanderson,1429960639,TOWERS OF MIDNIGHT,NaN
2245,Penguin Group,Charles Portis,159020459X,TRUE GRIT,NaN
2246,Random House,Karen Marie Moning,044033974X,SHADOWFEVER,NaN
2247,Penguin Group,Nalini Singh,None,ARCHANGELâS CONSORT,NaN
2248,Penguin Group,Robert Crais,None,THE SENTRY,NaN

In [27]:
rr = final_new_york_df.rename(columns={"primary_isbn10":"ISBN_10"})
final_newyork_data = rr.loc[rr["ISBN_10"]!="None"]
final_newyork_data = final_newyork_data[["ISBN_10","title","author","publisher","age_group"]]
final_newyork_data

,ISBN-10,title,author,publisher,age_group
0,1594634025,THE GIRL ON THE TRAIN,Paula Hawkins,Riverhead,NaN
1,1501173219,ALL THE LIGHT WE CANNOT SEE,Anthony Doerr,Scribner,NaN
2,525431888,FIFTY SHADES DARKER,E L James,Vintage,NaN
3,1466850604,THE NIGHTINGALE,Kristin Hannah,St. Martin's,NaN
4,1440697663,THE HELP,Kathryn Stockett,Penguin Group,NaN
...,...,...,...,...,...
2242,312663153,WINTER GARDEN,Kristin Hannah,St. Martinâs,NaN
2243,553907530,WHAT THE NIGHT KNOWS,Dean Koontz,Random House,NaN
2244,1429960639,TOWERS OF MIDNIGHT,Robert Jordan and Brandon Sanderson,Tom Doherty,NaN
2245,159020459X,TRUE GRIT,Charles Portis,Penguin Group,NaN
2246,044033974X,SHADOWFEVER,Karen Marie Moning,Random House,NaN

### Extract Amazon CSVs into DataFrames

In [6]:
csv_file_amazon = "../Project_2/Amazon.csv"
amazon_df = pd.read_csv(csv_file_amazon)
amazon_df.head()

,author,title,Dimensions,ISBN-10,ISBN-13,Language,Print length,Publication date,Publisher,Lexile measure,Reading age,Grade level
0,Lincoln D. Stein,How to Set Up and Maintain a World Wide Web Si...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,John Allen Paulos,A Mathematician Reads The Newspaper\n,5.5 x 0.75 x 8.5 inches,0465043623,978-0465043620,English,224 pages,"April 6, 1995",Basic Books,NaN,NaN,NaN
2,David Brin,Brightness Reef (Bantam Spectra Book)\n,6.75 x 1.5 x 9.75 inches,0553100343,978-0553100341,English,514 pages,"September 1, 1995",Spectra,NaN,NaN,NaN
3,Clifford Stoll,Silicon Snake Oil: Second Thoughts on the Info...,6.5 x 1 x 9.5 inches,0385419937,978-0385419932,English,247 pages,"March 1, 1995",Doubleday,NaN,NaN,NaN
4,Joan Lowery Nixon,The Dark and Deadly Pool (Laurel-Leaf Suspense...,4.22 x 0.55 x 6.86 inches,0440203481,978-0440203483,English,192 pages,"May 1, 1989",Laurel Leaf,710L,12 - 14 years,NaN

### Transform Amazon Data Frame

In [7]:
amazon_df.drop(['Dimensions', 'ISBN-13', "Publication date", "Language", "Lexile measure","Grade level"], axis=1)

,author,title,ISBN-10,Print length,Publisher,Reading age
0,Lincoln D. Stein,How to Set Up and Maintain a World Wide Web Si...,NaN,NaN,NaN,NaN
1,John Allen Paulos,A Mathematician Reads The Newspaper\n,0465043623,224 pages,Basic Books,NaN
2,David Brin,Brightness Reef (Bantam Spectra Book)\n,0553100343,514 pages,Spectra,NaN
3,Clifford Stoll,Silicon Snake Oil: Second Thoughts on the Info...,0385419937,247 pages,Doubleday,NaN
4,Joan Lowery Nixon,The Dark and Deadly Pool (Laurel-Leaf Suspense...,0440203481,192 pages,Laurel Leaf,12 - 14 years
...,...,...,...,...,...,...
1701,Jeffrey Eisner,The Step-by-Step Instant Pot Cookbook: 100 Sim...,0316460834,272 pages,Voracious,NaN
1702,Karen Frazier,Crystals for Beginners: The Guide to Get Start...,1623159911,206 pages,Althea Press,NaN
1703,Alice Schertle,Little Blue Truck's Springtime\n,0544938097,16 pages,HMH Books for Young Readers,4 years and up
1704,Oprah Winfrey,What Happened to You?: Conversations on Trauma...,1250223180,304 pages,Flatiron Books: An Oprah Book,NaN
1705,Lysa TerKeurst,Forgiving What You Can't Forget: Discover How ...,0718039874,288 pages,Thomas Nelson,NaN

In [8]:
amazon_cleaned_data = amazon_df[["ISBN-10","title","author","Publisher","Reading age","Print length"]]
amazon_cleaned_data

,ISBN-10,title,author,Publisher,Reading age,Print length
0,NaN,How to Set Up and Maintain a World Wide Web Si...,Lincoln D. Stein,NaN,NaN,NaN
1,0465043623,A Mathematician Reads The Newspaper\n,John Allen Paulos,Basic Books,NaN,224 pages
2,0553100343,Brightness Reef (Bantam Spectra Book)\n,David Brin,Spectra,NaN,514 pages
3,0385419937,Silicon Snake Oil: Second Thoughts on the Info...,Clifford Stoll,Doubleday,NaN,247 pages
4,0440203481,The Dark and Deadly Pool (Laurel-Leaf Suspense...,Joan Lowery Nixon,Laurel Leaf,12 - 14 years,192 pages
...,...,...,...,...,...,...
1701,0316460834,The Step-by-Step Instant Pot Cookbook: 100 Sim...,Jeffrey Eisner,Voracious,NaN,272 pages
1702,1623159911,Crystals for Beginners: The Guide to Get Start...,Karen Frazier,Althea Press,NaN,206 pages
1703,0544938097,Little Blue Truck's Springtime\n,Alice Schertle,HMH Books for Young Readers,4 years and up,16 pages
1704,1250223180,What Happened to You?: Conversations on Trauma...,Oprah Winfrey,Flatiron Books: An Oprah Book,NaN,304 pages
1705,0718039874,Forgiving What You Can't Forget: Discover How ...,Lysa TerKeurst,Thomas Nelson,NaN,288 pages

In [9]:
#df.dropna(subset=['b', 'c', 'd'], how = 'all')

In [10]:
final_amazon_dff= amazon_cleaned_data.dropna(subset=["ISBN-10"], how ="any")
final_amazon_dff

,ISBN-10,title,author,Publisher,Reading age,Print length
1,0465043623,A Mathematician Reads The Newspaper\n,John Allen Paulos,Basic Books,NaN,224 pages
2,0553100343,Brightness Reef (Bantam Spectra Book)\n,David Brin,Spectra,NaN,514 pages
3,0385419937,Silicon Snake Oil: Second Thoughts on the Info...,Clifford Stoll,Doubleday,NaN,247 pages
4,0440203481,The Dark and Deadly Pool (Laurel-Leaf Suspense...,Joan Lowery Nixon,Laurel Leaf,12 - 14 years,192 pages
7,0812925602,Emblems of Mind: The Inner Life of Music and M...,Edward Rothstein,Crown,NaN,NaN
...,...,...,...,...,...,...
1701,0316460834,The Step-by-Step Instant Pot Cookbook: 100 Sim...,Jeffrey Eisner,Voracious,NaN,272 pages
1702,1623159911,Crystals for Beginners: The Guide to Get Start...,Karen Frazier,Althea Press,NaN,206 pages
1703,0544938097,Little Blue Truck's Springtime\n,Alice Schertle,HMH Books for Young Readers,4 years and up,16 pages
1704,1250223180,What Happened to You?: Conversations on Trauma...,Oprah Winfrey,Flatiron Books: An Oprah Book,NaN,304 pages
1705,0718039874,Forgiving What You Can't Forget: Discover How ...,Lysa TerKeurst,Thomas Nelson,NaN,288 pages

### Create database connection

In [3]:
connection_string = "postgres:postgres@localhost:5432/best_selling_books_db"
engine = create_engine(f'postgresql://{connection_string}')

NameError: name 'create_engine' is not defined